/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import "~font-awesome/css/font-awesome.css";
@import "~github-markdown-css/github-markdown.css";
@import "~draft-js-static-toolbar-plugin/lib/plugin.css";
@import "./prism/prism.css";
@import "~draft-js-linkify-plugin/lib/plugin.css";

.draftJsToolbar__button__qi1gf {
  /* padding: 5px 5px 3px; */
  font-weight: bold;
  font-size: 16px;
}

/*
Attempting to get code spans inside of .codeBlock to not appear with their usual styles
*/
.codeBlock > div > div > span {
  /* padding: 0;
  margin: 0;
  font-size: 85%;
  background-color: inherit;
  color: inherit; */
}

/*

Block Styles

*/

.unstyled-block, .unordered-list-item-block, .blockquote-block,
.ordered-list-item-block, .header-one-block, .header-two-block,
.header-three-block {
  margin-bottom: 16px;
}

/*

Styles to fix links inside of code

*/

[style*="stroke-dashoffset: 0"] + .linkify > [style*="stroke-dashoffset: 0"],
.linkify + [style*="stroke-dashoffset: 0"] {
  padding-left: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.markdown-body pre {
  overflow: inherit;
  position: relative;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", "Helvetica Neue", Helvetica,Arial, sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  letter-spacing: .1px;
}

#root {
  height: 100%;
}

.markdown-body>*:first-child>*:first-child>*:first-child>*:first-child>*:first-child>*:first-child>*:first-child {
  margin-top: 0 !important;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.sidebar::-webkit-scrollbar, .main::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
}

.sidebar::-webkit-scrollbar:hover, .main::-webkit-scrollbar:hover {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  min-height: 0.8em;
  min-width: 0.8em;
  background-color: rgba(0, 0, 0, .2);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1), inset -1px -1px 0 rgba(0, 0, 0, .07);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

::-webkit-scrollbar-thumb:active {
  background-color: #888;
}
